<div class="downloadTopBar" stickyunder>
    <div class="row">
        <div class="select_filter stdContent" style="margin-bottom:20px">
            <div ng-repeat="downmenu in d.Downloads.Menu" class="large-3 medium-6 small-12 columns text">
                <h5>{{downmenu.title}}</h5>
                <select data-filter-group="{{downmenu.group}}">
                    <option ng-repeat="options in downmenu.options"  data-filter="{{options.class}}" value="{{options.title}}">{{options.title}}</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="main">
        <a on-finish-render="initMasonry()" ng-repeat="down in d.Downloads.Downloads" ng-href="{{down.link}}">
        <div class="{{down.classes}}">
            <p>{{down.desc}}</p>
            <p>&nbsp;</p>
        </div>
        </a>
    </div>
    <div class="noitemdownload">
        <p>Bitte änderen sie ihre Filter oder klicken sie auf <a href="#" class="resetfilter">zurücksetzen</a>.</p>
    </div>
</div>
</div>