<div class="row" style="margin-top:40px">
    <div class="columns large-3 download_menu">
        <div ng-repeat="downmenu in d.Downloads.Menu" class="text">
            <h5>{{downmenu.title}}</h5>
            <a ng-click="changeFilter($event)" ng-repeat="options in downmenu.options" data-filter-group="{{downmenu.group}}"  data-filter="{{options.class}}" value="{{options.title}}" href="">{{options.title}}</a>
        </div>
    </div>
    <div class="columns large-9 iso">
        <a on-finish-render="initMasonry()" ng-repeat="down in d.Downloads.Downloads" ng-href="{{down.link}}">
        <div class="{{down.classes}}">
            <p>{{down.desc}}</p>
            <p>&nbsp;</p>
        </div>
        </a>
    </div>
</div>