<div class="row margin_">
    <div class="large-12 medium-12 small-12 columns sysprev">
        <h1 id="sysprevHeader" class="productpage_shortDescription">{{d.Impressum.Impressum.head}}</h1>
        <div class="large-4 medium-6 small-12 columns text">
            <p ng-repeat="p in d.Impressum.Impressum.block1" ng-bind-html="p"></p>
        </div>
        <div class="large-5 medium-5 small-12 columns text" style="float:left;">
            <p ng-repeat="p in d.Impressum.Impressum.block2" ng-bind-html="p"></p>
        </div>
    </div>
    <div class="large-12 medium-12 small-12 columns sysprev">
        <h1 id="sysprevHeader" class="productpage_shortDescription">{{d.Impressum.Haft.head}}</h1>
        <div class="text innercolumn2">
            <p ng-repeat="p in d.Impressum.Haft.block1" ng-bind-html="p"></p>
        </div>
    </div>
</div>