<div class="home_big">
    <div class="backgrounds">
        <div class="active" title="FLW24-28" style="background:url(img/projects/big/flw/deutschhaus-gymnasium_wuerzburg_flw28.jpg)"></div>

        <div title="FLW24-28" style="background:url(img/projects/big/flw/golspie_street_glasgow_flw28_smotec.jpg)"></div>

        <div title="FLW24-28" style="background:url(img/projects/big/flw/project_10.jpg)"></div>

        <div title="FGL" style="background:url(img/projects/big/fgl/cimut_de_quimper2_fgl_pg.jpg)"></div>

        <div title="FLW40" style="background:url(img/projects/big/flw40/1.jpg)"></div>

        <div title="FLW24-28" style="background:url(img/projects/big/flw/ministery_of_agriculture_canberra_flw24.jpg)"></div>
        
    </div>

    <div class="margewrapper">
        <h1>Fieger Lamellenfenster</h1>
        <h2>Form trifft Funktion</h2>
        <button class="simple" ng-click="changePath('/lamellenfenster')">Über das Lamellenfenster</button>
        <button style="margin-top:15px" class="simple" ng-click="changePath('/produkte')">Zu den Produkten</button>
        

    </div>
</div>