<div class="home_big">
    <div class="backgrounds">
        <div class="active" style="background:url(img/index/1.jpg)"></div>

        <div style="background:url(img/index/2.jpg)"></div>

        <div style="background:url(img/index/3.jpg)"></div>

        <div style="background:url(img/index/4.jpg)"></div>

        <div style="background:url(img/index/5.jpg)"></div>

        <div style="background:url(img/index/6.jpg)"></div>
        
    </div>

    <div class="margewrapper">
        <h1>Fieger Lamellenfenster</h1>
        <h2>Form trifft Funktion</h2>
        <button class="simple" ng-click="changePath('/lamellenfenster')">Über das Lamellenfenster</button>
        <button style="margin-top:15px" class="simple" ng-click="changePath('/produkte')">Zu den Produkten</button>
        

    </div>
</div>