<div class="row" style="padding:60px 0;">
    <h1>{{d.Start.h1}}</h1>
        <div class="columns large-12">
        <div class="video_animation">
            <div class="loader_video active">
                    <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    width="100px" height="100px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                    <path fill="#000" d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z">
                    <animateTransform attributeType="xml"
                    attributeName="transform"
                    type="rotate"
                    from="0 25 25"
                    to="360 25 25"
                    dur="0.6s"
                    repeatCount="indefinite"/>
                    </path>
                    </svg>
            </div>
            <video preload="auto" id="video" width="550" height="309" src="img/video/fenster.mp4" poster="img/video/poster.gif"></video>
            <div class="video_input_wrapper">
                <!-- oninput="showVal(this.value)" -->
                <input type="range" min="0" max="100" step="5" value="0" onchange="showVal(this.value)">
            </div>
        </div>
    </div>
    <div class="columns large-12 innercolumn2">
        <p ng-bind-html="d.Start.text1"></p>
    </div>

    <h1 style="margin-top:60px;float:left">{{d.Start.h2}}</h1>
    <div class="columns large-12 innercolumn2">
        <p ng-bind-html="d.Start.text2"></p>
    </div>
    <img style="margin-top:30px;border: 1px solid #ccc;" src="/img/crew/crew2.jpg">
</div>