<div class="row">
    <div class="region_choose">
        <ul>
            <li>Australien</li>
            <li class="active">Deutschland</li>
            <li>Großbritanien</li>
            <li>Österreich</li>
            <li>Frankreich</li>
            <li>Portugal</li>
            <li>Schweiz</li>
        </ul>
    </div>
    <div id="vmap" style="float:left;height: 400px;width: 100%;margin:50px 0px 50px 0;"></div>
    <div class="partner_content">
        <div land="FR" class="active">
            <h1>Frankreich</h1>
            <div class="partner_wrapper">
                <div class="partner_img_wrapper">
                    <img width="50" src="img/partner/apple.png">
                </div>
                <p>Apple Inc</p>
                <p>Apple Street 100, California</p>
                <a href="mailto:apple@apple.com">apple@apple.com</a>
            </div>

            <div class="partner_wrapper">
                <div class="partner_img_wrapper">
                    <img width="50" src="img/partner/apple.png">
                </div>
                <p>Apple Inc</p>
                <p>Apple Street 100, California</p>
                <a href="mailto:apple@apple.com">apple@apple.com</a>
            </div>

            <div class="partner_wrapper">
                <div class="partner_img_wrapper">
                    <img width="50" src="img/partner/apple.png">
                </div>
                <p>Apple Inc</p>
                <p>Apple Street 100, California</p>
                <a href="mailto:apple@apple.com">apple@apple.com</a>
            </div>

            <div class="partner_wrapper">
                <div class="partner_img_wrapper">
                    <img width="50" src="img/partner/apple.png">
                </div>
                <p>Apple Inc</p>
                <p>Apple Street 100, California</p>
                <a href="mailto:apple@apple.com">apple@apple.com</a>
            </div>
        </div>
    </div>
</div>