
<div class="info_wrapper">
    <a href="" ng-click="closeInfo()" class="close_reader icon-close"></a>
    <div class="appendnews">
        <h1>{{heading}}</h1>
        <p ng-repeat="text in paragraphs">{{text}}</p>
    </div>
</div>
<div class="compare_wrapper">
    <div class="compare_menu">
        <ul>
            <li>
                <p>&nbsp;</p>
            </li>
            <li>
                <p>FLW40</p>
                <img src="img/produkte/flw40.jpg">
            </li>
            <li>
                <p>FLW40V</p>
                <img src="img/produkte/flw40.jpg">
            </li>
            <li>
                <p>FLW24/28</p>
                <img src="img/produkte/flw.jpg">
            </li>
            <li>
                <p>FGL LG/PG</p>
                <img src="img/produkte/fgl.jpg">
            </li>
            <li>
                <p>FLL</p>
                <img src="img/produkte/fll.jpg">
            </li>
        </ul>
    </div>


    <div class="comparelist">
        <div class="compare_item resp_ab">
            <div class="heading">
            </div>
            <div class="glas">
                <p>gedämmt</p>
            </div>
            
            <div class="glas"><p>40mm 3-fach Isolierglas</p></div>
            <div class="glas"><p>24mm oder 28 mm 2-fach Isolierglas</p></div>
            <div class="glas"><p>Einscheiben ESG oder VSG</p></div>
            <div class="glas"><p>Verbundprofil</p></div>
            <div class="glas"><p>umlaufende Glasumfassung</p></div>
            <div class="glas"><p>nur raumseitig sichtbare Glasleisten</p></div>
            <div class="glas"><p>Gläser ungerahmt Punktgehalten oder Linienhalter</p></div>
            <div class="glas"><p>Als Alu-Lamellen erhältlich</p></div>
            <div class="glas"><p>Elementbreite ohne mittige Teilung bis</p></div>
            <div class="glas"><p>Lamellenhöhe variabel</p></div>


            <div class="technik_"><p>Als NRWG geprüft und zertifiziert nach DIN EN 12101-2 (System FLW SmoTec)</p></div>
            <div class="technik_"><p>Luftdurchlässigkeit nach EN 1026 Klassifizierung Klasse </p></div>
            <div class="technik_"><p>Schlagregendichtheit nach EN 1027 Klassifizierung Klasse </p></div>
            <div class="technik_"><p>Schalldämm-Maß nach DIN EN 20 140-03 Prüfwert Rw = (mit Schallschutz-<br>verglasung)</p></div>
            <div class="technik_"><p>Wärmedurchgangs-<br>koeffizient je nach Ausführung bis zu  </p></div>
            <div class="technik_"><p>Ballwurfsicherheit nach DIN  18032-3</p></div>
            <div class="technik_"><p>TraV gemäß Bauregelliste A Teil 2 Kapitel 2 Lfd Nr.243 - </p></div>

        </div>
        <!-- FLW40 -->
        <div class="compare_item">
            <div class="heading">
                <img src="img/produkte/flw40.jpg">
                <h2>FLW40</h2>
                <a ng-click="toggleInfo('flw40')" href="">Infos</a>
                <!-- <a href="img/systems/flw40/gallery/flw40_gallery_1.jpg" data-lightbox="example-set">Bilder</a> -->
                <a href="#/downloads/FLW40">Downloads</a>
                <a href="#/fensterberechnung/FLW40">Kalkulator</a>
            </div>

            <div class="glas"><p class="check_"></p></div>
            <div class="glas"><p class="check_"></p></div>
            <div class="glas"><p class="ip"></p></div>
            <div class="glas"><p class="ip"></p></div>
            <div class="glas"><p class="ip"></p></div>
            <div class="glas"><p class="check_"></p></div>
            <div class="glas"><p class="ip"></p></div>
            <div class="glas"><p class="ip"></p></div>
            <div class="glas"><p class="check_"></p></div>
            <div class="glas"><p class="text">2500 mm </p></div>
            <div class="glas"><p class="text">250 bis 500 mm</p></div>

            <div class="technik__"><p class="check_"></p></div>
            <div class="technik__"><p class="text">Klasse 4</p></div>
            <div class="technik__"><p class="text">Klasse 8A </p></div>
            <div class="technik__"><p class="text">bis 41 dB </p></div>
            <div class="technik__"><p class="text">bis 0,9 W/m²K </p></div>
            <div class="technik__"><p class="check_"></p></div>
            <div class="technik__"><p class="check_"></p></div>

        </div>
        <!-- FLW40V -->
        <div class="compare_item new" neu="NEU!">
            <div class="heading">
                <img src="img/produkte/flw40.jpg">
                <h2>FLW40V</h2>
                <a ng-click="toggleInfo('flw40v')" href="">Infos</a>
                <!-- <a href="">Bilder</a> -->
                <a href="" class="notavailable">Downloads</a>
                <a href="" class="notavailable">Kalkulator</a>
            </div>

            <div class="glas"><p class="check_"></p></div>
            <div class="glas"><p class="check_"></p></div>
            <div class="glas"><p class="ip"></p></div>
            <div class="glas"><p class="ip"></p></div>
            <div class="glas"><p class="ip"></p></div>
            <div class="glas"><p class="ip"></p></div>
            <div class="glas"><p class="check_"></p></div>
            <div class="glas"><p class="ip"></p></div>
            <div class="glas"><p class="ip"></p></div>

            <div class="glas"><p class="text">2500 mm </p></div>
            <div class="glas"><p class="text">250 bis 500 mm</p></div>


            <div class="technik__"><p class="ip"></p></div>
            <div class="technik__"><p class="ip"></div>
            <div class="technik__"><p class="ip"></p></div>
            <div class="technik__"><p class="ip"></p></div>
            <div class="technik__"><p class="ip"></p></div>
            <div class="technik__"><p class="ip"></p></div>
            <div class="technik__"><p class="ip"></p></div>


        </div>
        <div class="compare_item">
            <div class="heading">
                <img src="img/produkte/flw.jpg">
                <h2>FLW24/28</h2>
                <a ng-click="toggleInfo('flw24_28')" href="">Infos</a>
                <!-- <a href="">Bilder</a> -->
                <a href="#/downloads/FLW24-28">Downloads</a>
                <a href="#/fensterberechnung/FLW24">Kalkulator</a>
            </div>

            <div class="glas"><p class="check_"></p></div>
            <div class="glas"><p class="ip"></p></div>
            <div class="glas"><p class="check_"></p></div>
            <div class="glas"><p class="ip"></p></div>
            <div class="glas"><p class="ip"></p></div>
            <div class="glas"><p class="check_"></p></div>
            <div class="glas"><p class="ip"></p></div>
            <div class="glas"><p class="ip"></p></div>
            <div class="glas"><p class="check_"></p></div>
            <div class="glas"><p class="text">2000 mm </p></div>
            <div class="glas"><p class="text">175 bis 344 mm</p></div>



            <div class="technik__"><p class="check_"></p></div>
            <div class="technik__"><p>Klasse 4</p></div>
            <div class="technik__"><p>Klasse 5A / 4A</p></div>
            <div class="technik__"><p>bis 39 dB</p></div>
            <div class="technik__"><p>geprüft 2,3W/m²K <br> bis zu 1,7 W/m²K möglich</p></div>
            <div class="technik__"><p class="check_"></p></div>
            <div class="technik__"><p class="check_"></p></div>

        </div>
        <!-- FGL LG -->
        <div class="compare_item">
            <div class="heading">
                <img src="img/produkte/fgl.jpg">
                <h2>FGL LG/PG</h2>
                <a ng-click="toggleInfo('fgl')" href="">Infos</a>
                <!-- <a href="">Bilder</a> -->
                <a href="#/downloads/FGL">Downloads</a>
                <a href="#/fensterberechnung/FGL">Kalkulator</a>
            </div>
            <div class="glas"><p class="ip"></p></div>
            <div class="glas"><p class="ip"></p></div>
            <div class="glas"><p class="ip"></p></div>
            <div class="glas"><p class="check_"></p></div>
            <div class="glas"><p class="ip"></p></div>
            <div class="glas"><p class="ip"></p></div>
            <div class="glas"><p class="ip"></p></div>
            <div class="glas"><p class="check_"></p></div>
            <div class="glas"><p class="ip"></p></div>
            <div class="glas"><p class="text">1600 mm </p></div>
            <div class="glas"><p class="text">175 bis 325 mm.</p></div>

            <div class="technik__"><p class="check_"></p></div>
            <div class="technik__"><p class="ip"></p></div>
            <div class="technik__"><p class="ip"></p></div>
            <div class="technik__"><p class="ip"></p></div>
            <div class="technik__"><p class="ip"></p></div>
            <div class="technik__"><p class="ip"></p></div>
            <div class="technik__"><p class="ip"></p></div>
        </div>
        <!-- FLL -->
        <div class="compare_item new" neu="NEU!">
            <div class="heading">
                <img src="img/produkte/fll.jpg">
                <h2>FLL</h2>
                <a ng-click="toggleInfo('fll')" href="">Infos</a>
                <!-- <a href="">Bilder</a> -->
                <a href="" class="notavailable">Downloads</a>
                <a href="" class="notavailable">Kalkulator</a>
            </div>
            <div class="glas"><p class="check_"></p></div>
            <div class="glas"><p class="ip"></p></div>
            <div class="glas"><p class="ip"></p></div>
            <div class="glas"><p class="ip"></p></div>
            <div class="glas"><p class="check_"></p></div>
            <div class="glas"><p class="ip"></p></div>
            <div class="glas"><p class="ip"></p></div>
            <div class="glas"><p class="ip"></p></div>
            <div class="glas"><p class="check_"></p></div>
            <div class="glas"><p class="text">2000 mm </p></div>
            <div class="glas"><p class="text">132 mm fix</p></div>

            <div class="technik__"><p class="ip"></p></div>
            <div class="technik__"><p class="ip"></p></div>
            <div class="technik__"><p class="ip"></p></div>
            <div class="technik__"><p class="ip"></p></div>
            <div class="technik__"><p class="ip"></p></div>
            <div class="technik__"><p class="ip"></p></div>
            <div class="technik__"><p class="ip"></p></div>

        </div>
    </div>
</div>