<ul class="systeme_sub ref_change" style="width:540px">
	<li ng-repeat="f in d.Referenzen_menu">
		<a ng-class="{active:$first}" data-filter="{{f.filter}}" ng-click="filter($event)" href="#">{{f.title}}</a>
	</li>
</ul>

<div class="row referenzen" style="min-height: 850px">
    <div class="grid my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
        <figure on-finish-render="init()" ng-repeat="p in d.Referenzen" class="{{p.class}} gallery" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="img/projects/big/{{p.imgsrc}}" itemprop="contentUrl" data-size="{{p.size}}">
                <img src="img/projects/small/{{p.imgsrc}}" itemprop="thumbnail" alt="Image description" />
            </a>

            <p>{{p.title}}</p>
            <figcaption itemprop="caption description">{{p.title}}</figcaption>
        </figure>
    </div>
</div>