<div class="row system_under">
    <section>
        <h1>Lieferung</h1>
        <div class="large-12 medium-12 small-12 columns innercolumn2">
            <p>Fieger Lamellenfenster werden Ihren Anforderungen und Bestellvorgaben entsprechend hergestellt. Jedes Fenster wird werkseitig auf Funktion geprüft und montagefertig geliefert. Zum Schutz der fertigen Elemente werden diese in stabile Holzkisten verpackt und per Spedition zu Ihnen ins Werk oder nach Vereinbarung auf die Baustelle geliefert. Das Abladen von kleinen Kisten erfolgt in der Regel über die Hebebühne des Transporters. Bei größeren Kisten ist ein Abladen über Stapler oder Kran notwendig. Dies ist durch den Auftraggeber zu organisieren.</p>
            <p>Der Transport der Lamellenfenster über die Spedition wird von uns versichert. Bitte überprüfen Sie sofort bei Erhalt der Ware die Transportkisten auf Beschädigungen. Sollten Sie befürchten, dass die Elemente beim Transport beschädigt worden sind, melden Sie sich bitte umgehend bei uns. Wir veranlassen dann sofort die weiteren Maßnahmen.</p>
            <p>Schützen Sie die Kisten vor Feuchtigkeit und Nässe, falls die Elemente nicht gleich ausgepackt werden. Zum Auspacken unterlegen Sie die Kiste einseitig auf der Entnahmeseite und stellen Sie sie schräg, damit ein unbeabsichtigtes Herausfallen der Elemente vermieden wird. Die Entnahmeseite ist von uns auf der Kiste markiert. Bitte beachten Sie unsere weiteren Transport- und Montagehinweise.</p>
            <h4>Lieferungen zur Baustelle</h4>
            <p>Nach Rücksprache können wir Ihnen die Lamellenfenster auch direkt auf die Baustelle liefern. Bitte geben Sie uns dafür einen Ansprechpartner vor Ort an und sorgen Sie für einen unkomplizierten Zugang zur Abladestelle. Falls Sie die Lieferung zu einem genauen Termin oder einer genauen Uhrzeit benötigen, müssen Sie eventuell mit zusätzlichen Lieferkosten rechnen.</p>
        </div>
    </section>
    <section>
        <h1>Transport und Montage</h1>
        <div class="large-12 medium-12 small-12 columns innercolumn2">
            <p>Bitte transportieren Sie die Lamellenfenster immer senkrecht und vermeiden sie starke Verwindungen der Elemente während des Transportes. Die Elemente werden geschlossen ausgeliefert. Starke Verwindungen übertragen hohe Kräfte auf die Mechanik, die zu Beschädigungen führen können. Dies hat zur Folge, dass sich die Elemente nach der Montage nicht mehr ordnungsgemäß öffnen oder schließen lassen.</p>
            <p>Hohe Elemente werden über die lange Kante stehend ausgeliefert und müssen vor dem Einsetzen vorsichtig über die kurze Kante aufgestellt werden. Bitte niemals das Lamellenfenster über Eck stürzen.</p>
            <p>Das Einsetzen der Lamellenfenster erfolgt per Hand. Nutzen Sie niemals Glassauger zum Transport und zum Einsetzen der Lamellenfenster. Dies kann ebenfalls zu Beschädigungen an den Lamellen führen.</p>
            <h4>Montage von Fieger Lamellenfenstern</h4>
            <p>Beim Montieren der Elemente in die Konstruktion ist darauf zu achten, dass die Lastabtragung ausnahmslos direkt unter den Seitenrahmen bzw. unter den Mittelpfosten erfolgen muss. Ein falsches Verklotzen führt zu Verformungen der Rahmen und somit zur Beeinträchtigung der Funktion. Achten Sie bei der Montage besonders auf den lotgerechten und spannungsfreien Einbau.</p>
            <p>In der Regel werden die Lamellenfenster mit den gewünschten Adapterprofilen für die Pfosten - Riegelkonstruktionen oder Fensterprofile geliefert und in die Konstruktion eingespannt. Falls die Lamellenfenster in der Konstruktion oder im Mauerwerk verschraubt werden sollen, ist darauf zu achten, dass sich in den Seitenrahmen unsere Mechanik zum Öffnen der Lamellen befindet, die nicht beeinträchtigt werden darf. Bitte sprechen Sie diese Montagesituation im Detail vorab mit uns ab oder verwenden Sie zur Montage Mauerlaschen, die außenseitig im Rahmen verschraubt werden können.</p>
            <p>Führen Sie nach der Montage eine Funktionskontrolle durch. Dies geschieht manuell durch den Beschlag oder bei E-Antrieben durch ein entsprechendes Steuergerät. Die richtige Montage überprüfen Sie zusätzlich durch die Kontrolle der gleichmäßigen Fugenbreiten und durch das ebene Schließen der Lamellen.</p>
            <p>Wir empfehlen Ihnen dringend nach der Montage unverzüglich eine Abnahme der Lamellenfenster vorzunehmen und sich die einwandfreie Funktion der Lamellen bestätigen zu lassen. Schützen Sie die Lamellenfenster, besonders auch die E-Antriebe, vor Bauschäden und weisen Sie darauf hin, dass die Elemente nicht unsachgemäß geöffnet werden dürfen, z.B. durch das Aufhebeln der Lamellen (aufgrund des noch fehlenden Elektroanschlusses).</p>
            <p>Eine unsachgemäße Montage und Bedienung der Lamellenfenster kann zu Schäden führen, für die wir keine Gewährleistung übernehmen können.</p>
            <h4>Montagehilfe für Fieger Lamellenfenster</h4>
            <p>Bei schweren Elementen bis 120 Kg bieten wir Ihnen die Verwendung unserer Montagelaschen an. Diese Montagelaschen werden oben am Element montiert und ermöglichen das Einsetzen der Lamellenfenster mit einem Hebekran, vorzugsweise mit einem Kettenzug.</p>
        </div>
    </section>

    <section>
        <h1>Wartung - Gefahren durch Feuer und Rauch</h1>
        <div class="large-12 medium-12 small-12 columns innercolumn2">
            <p>Rund 600 Menschen sterben jährlich in Deutschland bei den rund 200.000 gemeldeten Bränden. Rund 6000 pro Jahr erleiden schwere Brandverletzungen, die oftmals zu bleibenden Körperschäden führen. Außerdem werden etwa 60.000 Menschen leicht verletzt.</p>

            <p>Etwa 95% der jährlichen Brandtoten fallen dabei nicht den Flammen zum Opfer, sondern sterben an einer Rauchvergiftung.
            Rauch, Brandgase und Wärme verbreiten sich in Gebäuden weitaus schneller als das Feuer am eigentlichen Brandherd. Unter der Decke bildet sich eine Schicht aus Rauch und Brandgasen, die mit fortschreitender Branddauer immer dichter wird und innerhalb kürzester Zeit den gesamten Raum ausfüllt.</p>

            <p>Mit Hilfe einer natürlichen Rauchabzugsanlage (NRA) in Verbindung mit nach DIN EN 12101-2 geprüften und zertifizierten Fieger Lamellenfenstern wird diese Schicht mittels des thermischen Auftriebs bereits in der Entstehungsphase des Brandes direkt ins Freie abgeführt. Die ebenfalls notwendigen Zuluftöffnungen verstärken dabei den Effekt des thermischen Auftriebs (Kamin-Effekt).</p>

            <p>Wichtig ist, dass die Rauchgase schnell und möglichst ungehindert ins Freie ausströmen können. Dadurch wird eine sogenannte Raucharme Schicht in Bodennähe erzeugt, wodurch gefährdete Personen einen Weg aus der Gefahrenzone finden.</p>

            <p>Gleichzeitig wird der Feuerwehr und den Brandbekämpfern der Weg zum Brandherd erleichtert.</p>

            <p>Tritt ein Brandfall ein, muss die NRA/RWA-Anlage unbedingt sicher und zuverlässig funktionieren. Um dies zu gewährleisten ist eine regelmäßige Wartung der Anlage vom Gesetzgeber vorgeschrieben. Die Verantwortlichkeit für Wartungsmaßnahmen liegt bei dem Gebäudebetreiber/Besitzer.</p>

            <p>Um den gesetzlichen Bestimmungen gerecht zu werden, bietet die Fieger Lamellenfenster GmbH eine fachkundige Wartung der Geräte an, um die Betriebsbereitschaft der Anlagen in der Brandentstehungsphase für den Schutz von Mensch und Gebäude zu gewährleisten.</p>

            <p>Bitte kontaktieren Sie uns, falls Sie weitere Informationen oder ein Angebot für die Wartung der unserer NRWG - Lamellenfenster möchten.</p>
        </div>
    </section>
</div>