<div class="row sonderbau" ng-init="initSlider()">
    <h1><strong>FDS</strong> - <strong>F</strong>ieger <strong>D</strong>esign und <strong>S</strong>onderbau</h1>
    <article>
    <p>Unter dieser Bezeichnung steht Ihnen im Hause Fieger Lamellenfenster GmbH eine eigene Entwicklungsabteilung zur Verfügung. Hier prüfen wir Ihre Vorstellungen auf Machbarkeit und helfen Ihnen bei der Verwirklichung Ihrer Ideen. Dabei reicht die Palette unserer Leistungen von der Anpassung bestehender Systeme bis zur kompletten Neuentwicklung von Fenstersystemen, die speziell auf Ihre Bedürfnisse zugeschnitten sind.</p>
    <p>Unsere Schwerpunkte liegen in den Bereichen:</p>
    <ul>
        <li>- Entwicklung von Systemen mit beweglichen und/oder starren Lamellen aus Aluminium oder Glas mit projektbezogenen Profilierungen</li>
        <li>- Beschreibung, Musterbau und Prüfung neuer Systeme gemäß Ihren Anforderungen für Ihre Einsatzbereiche</li>
        <li>- Entwicklung neuer Antriebstechniken, Steuerungsmöglichkeiten und Sensortechnik in Verbindung mit Lüftungslamellen</li>
    </ul>
    <p>Bitte kontaktieren Sie uns einfach mit Ihren Vorstellungen. Dann können wir Ihnen kurzfristig mitteilen, wie wir Ihnen bei der Realisierung behilflich sein können, welchem ungefähren Zeitraum wir benötigen und Ihnen dann bereits eine erste Kostenschätzung abgeben.</p>
    <p>Ansprechpartner sind Herr Thomas Fieger und Herr Matthias Ficht</p>
    </article>

    <article style="margin-top:100px">
            <h3>Knauf Museum in Ipfhofen</h3>
            <p>Große Glasflächen werden durch innenliegende Lamellen aus Aluminium verschattet, in die abstrahierte Ornamente gelasert sind und sich durch das ganze Haus ziehen. Je nach Tageszeit verändert sich das Erscheinungsbild durch die Verschattung und schafft ein spannungsvolles Spiel zwischen Licht und Dunkel. Die Drehbewegungen der Lamellen werden durch die von Fieger entwickelte Zahnstangenmechanik ausgeführt. Nur so war es möglich, die Mechanik inklusive Elektro-Antriebe und die Verkabelung unsichtbar in den Riegel der Fassade zu integrieren.</p>
        <div class="columns large-12 referenzen" dynamic="html" style="padding:0">
            <div class="gallery-1" itemscope itemtype="http://schema.org/ImageGallery">
                <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                    <a href="img/sonderbau/2.jpg" itemprop="contentUrl" data-size="600x400">
                        <img src="img/sonderbau/2.jpg" itemprop="thumbnail" alt="Image description" />
                    </a>
                    <figcaption itemprop="caption description"></figcaption>
                </figure>

                <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                    <a href="img/sonderbau/3.jpg" itemprop="contentUrl" data-size="600x400">
                        <img src="img/sonderbau/3.jpg" itemprop="thumbnail" alt="Image description" />
                    </a>
                    <figcaption itemprop="caption description"></figcaption>
                </figure>

                <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                    <a href="img/sonderbau/4.jpg" itemprop="contentUrl" data-size="600x400">
                        <img src="img/sonderbau/4.jpg" itemprop="thumbnail" alt="Image description" />
                    </a>
                    <figcaption itemprop="caption description"></figcaption>
                </figure>

                <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                    <a href="img/sonderbau/5.jpg" itemprop="contentUrl" data-size="600x400">
                        <img src="img/sonderbau/5.jpg" itemprop="thumbnail" alt="Image description" />
                    </a>
                    <figcaption itemprop="caption description"></figcaption>
                </figure>
            </div>
        </div>
    </article>
</div>