<div class="row sonderbau" ng-init="initSlider()">
    <h1><strong>FDS</strong> - <strong>F</strong>ieger <strong>D</strong>esign und <strong>S</strong>onderbau</h1>
    <article>
    <p>FDS– Fieger Design und Sonderbau bezeichnet die eigene Entwicklungsabteilung innerhalb der Firma Fieger, welche Ihnen für Ihre Ideen und
    Spezialanwendungen zur Verfügung steht.</p>
    <p>Spezialausführungen bzw. Sonderbauelemente sind unter anderem alles das, was sich nicht mit unseren Standardsystemen realisieren lässt und im weitesten Sinne mit Lamellen zu tun hat.</p>
    <p>Unsere Schwerpunkte liegen in den Bereichen:</p>
    <ul>
        <li>- Entwicklung von beweglichen Lamellen aus Aluminium und / oder Glas mit projektbezogenen Profilierungen.</li>
        <li>- Beschreibung, Entwicklung, Musterbau und Prüfung neuen Einsatzbereiche für bewegliche und starren Lamellen.</li>
        <li>- Entwicklung neuer Antriebstechniken, Steuerungsmöglichkeiten und Sensortechnik in Verbindung mit Lüftungslamellen.</li>
    </ul>
    <p>Bitte kontaktieren Sie uns einfach mit Ihren Vorstellungen. Dann können wir Ihnen kurzfristig mitteilen, wie wir Ihnen bei der Realisierung behilflich sein können, welchem ungefähren Zeitraum wir benötigen und Ihnen dann bereits eine erste Kostenschätzung abgeben.</p>
    <p>Ansprechpartner sind Herr Thomas Fieger und Herr Matthias Ficht</p>
    </article>
    <h1 style="margin-top:30px">Projektbeispiele</h1>
    <article>
        <div class="columns large-6" dynamic="html">
            <div class="slider_mini">
                <div class="slider_mini_wrapper">
                    <div style="background-image:url('img/sonderbau/1.jpg')"></div>
                    <div style="background-image:url('img/sonderbau/2.jpg')"></div>
                    <div style="background-image:url('img/sonderbau/3.jpg')"></div>
                    <div style="background-image:url('img/sonderbau/4.jpg')"></div>
                    <div style="background-image:url('img/sonderbau/5.jpg')"></div>
                </div>
            </div>
        </div>
        <div class="columns large-6">
            <h2>Knauf Museum in Ipfhofen</h2>
            <p>Großen Glasflächen werden durch innenliegende Lamellen aus Aluminium verschattet, 
            in die abstrahierte Ornamente gelasert sind und sich durch das ganze Haus ziehen. 
            Je nach Tageszeit verändert sich das Erscheinungsbild durch die Verschattung und schafft ein spannungsvolles Spiel 
            zwischen Licht und Dunkel.
            Die Drehbewegung der Lamellen werden durch die von Fieger entwickelten Zahnstangenmechanik ausgeführt. 
            Nur so war es mˆglich die Mechanik incl. E-Antriebe und die Verkabelung unsichtbar in den Riegel der Fassade 
            zu integrieren. </p>
        </div>
    </article>


    <article style="margin-top:100px">
        <div class="columns large-6">
            <h2>Knauf Museum in Ipfhofen</h2>
            <p>Großen Glasflächen werden durch innenliegende Lamellen aus Aluminium verschattet, 
            in die abstrahierte Ornamente gelasert sind und sich durch das ganze Haus ziehen. 
            Je nach Tageszeit verändert sich das Erscheinungsbild durch die Verschattung und schafft ein spannungsvolles Spiel 
            zwischen Licht und Dunkel.
            Die Drehbewegung der Lamellen werden durch die von Fieger entwickelten Zahnstangenmechanik ausgeführt. 
            Nur so war es mˆglich die Mechanik incl. E-Antriebe und die Verkabelung unsichtbar in den Riegel der Fassade 
            zu integrieren. </p>
        </div>
        <div class="columns large-6" dynamic="html">
            <div class="slider_mini">
                <div class="slider_mini_wrapper">
                    <div style="background-image:url('img/sonderbau/1.jpg')"></div>
                    <div style="background-image:url('img/sonderbau/2.jpg')"></div>
                    <div style="background-image:url('img/sonderbau/3.jpg')"></div>
                    <div style="background-image:url('img/sonderbau/4.jpg')"></div>
                    <div style="background-image:url('img/sonderbau/5.jpg')"></div>
                </div>
            </div>
        </div>
    </article>
</div>