<div class="row system_topics">
    <div class="grid">
        <div ng-repeat="n in d.Themen" class="large-4 medium-6 small-12 columns selectorClass" style="margin-bottom: 30px;">
            <figure class="effect-ruby">
                <a href="#/{{n.href}}">
                <img ng-src="{{n.imgsrc}}" />
                <figcaption>
                <h4><!-- <span>{{n.head1}}</span><br> --><span>{{n.head2}}</span></h4>
                </figcaption>
                </a>
            </figure>
        </div>
    </div>
</div>