<div class="row system_under">
    <section>
        <h1>Einbauvarianten</h1>
        <div class="large-12 medium-12 small-12 columns">
            <p>Wir haben für jede Einbausituation die passende Lösung. Für Pfosten-Riegel und Fensterkonstruktionen haben wir konfigurierbare Adapterrahmen, die fertig montiert auf den Lamellenfenstern geliefert werden. Bei unserem neuen System FLW40 ist der Adapterrahmen gleich am Fenster integriert.</p>
            <p>
            Die Lamellenfenster können dann wie eine Glasscheibe in die Konstruktion eingesetzt werden. Des Weiteren können unsere Fenster auch in Holzständerwänden, Mauerwerk, Profilitverglasungen und Paneelfassaden eingesetzt werden.
            </p>
        </div>
    </section>
    <section>
        <h1>Antriebe</h1>
        <div class="large-12 medium-12 small-12 columns">
            <p>Für unsere Lamellenfenster steht Ihnen eine Vielzahl von Antrieben zur Verfügung. Die Lamellenfenster können manuell, elektrisch oder pneumatisch betrieben werden. Die auf unser System abgestimmten Antriebe von ausnahmslos namhaften Herstellern werden in der Regel fertig montiert und funktionsgeprüft geliefert.</p>
            <p>
            Unsere patentierte Zahnstangenmechanik gewährleistet einerseits die langlebige und sichere Funktion unserer Fenster und andererseits den angenehm leisen und leichten Lauf der Lamellen. Mit nur einem Antrieb können bis zu 3 m² Fensterfläche geöffnet werden!</p>
        </div>
    </section>
    <section>
        <h1>Schaltkontakt</h1>
        <div class="large-12 medium-12 small-12 columns">
            <p>Für die Positionsangabe der Lamellen können unsere Lamellenfenster mit dem neu entwickelten Fieger-Schaltkontakt ausgestattet werden. Es können die Meldungen „Fenster 100% auf“ und „Fenster 100% zu“ über potentialfreie Kontakte abgerufen werden.
            </p>
        </div>
    </section>
    <section>
        <h1>Querstreben</h1>
        <div class="large-12 medium-12 small-12 columns">
            <p>Als zusätzliche Einbruchsicherung und/oder Absturzsicherung können wir unsere Lamellenfenster mit innenliegenden Edelstahl-Querstreben ausstatten. Die Querstreben sind im geschlossenen Zustand von außen nicht sichtbar im seitlichen Rahmen verschraubt und können mit einer Sicherheitsüberwachung ausgestattet werden. Bei Ein oder Ausbruch erfolgt Alarmauslösung!</p>
        </div>
    </section>
    <section>
        <h1>Steuerungstechnik</h1>
        <div class="large-12 medium-12 small-12 columns">
            <p>Noch mehr Komfort und Effektivität lassen sich durch zusätzliche elektronische Steuerungen erzielen. Für objektbezogene Lösungen arbeiten wir mit führenden Herstellern von Rauch- und Wärmeabzugssystemen zusammen.</p>
            <p>Falls keine bauseitigen Komponenten vorhanden sind, liefern wir ihnen auf Wunsch:</p>
            <p>
            - RWA Zentralen <br>
            - Lüftungssteuerungen <br>
            - Rauchmelder <br>
            - Taster <br>
            - Wind- und Regenwächter <br>
            </p>
        </div>
    </section>
    <section>
        <h1>Insektengitter</h1>
        <div class="large-12 medium-12 small-12 columns">
            <p>Gerne bieten wir ihnen auch maßgerecht angefertigte Insektenschutzgitter an.</p>
        </div>
    </section>
</div>