.row {
    margin-top: 20px;
}

.logo {
    float: right;
    margin-top: 20px
}

button{
    float: left;
    width: 100%;
    height: 30px;
    margin-top: 20px;
    border-radius: 4px;
    border: 2px solid #ccc;
    color: #222;
    background-color: #fff;
}

@media print {
    .logo {
        position: absolute;
        top: 0;
        right: 0
    }

    html,body{
    	height: 100%
    }

    .columns,.row,body,html {
        float: left !important;
        padding: 0 !important;
    }
    .large-1 {
        width: 8.33333%;
    }
    .large-2 {
        width: 16.66667%;
    }
    .large-3 {
        width: 25%;
    }
    .large-4 {
        width: 33.33333%;
    }
    .large-5 {
        width: 41.66667%;
    }
    .large-6 {
        width: 50%;
    }
    .large-7 {
        width: 58.33333%;
    }
    .large-8 {
        width: 66.66667%;
    }
    .large-9 {
        width: 75%;
    }
    .large-10 {
        width: 83.33333%;
    }
    .large-11 {
        width: 91.66667%;
    }
    .large-12 {
        width: 100%;
    }
}