<div class="Stripe2 stick">
    <div class="row">
        <div style="float:right;">
            <img style="width: 150px;  margin-right: 35px; " alt="" src="img/systems/fgl/fgl_logo_darkblue.png"/>
        </div>  </div></div>
        <div class="productBoxShadow">
            <div class="row">
                <div class="large-12 column">
                    <p class="productpage_breadcrumb stick"><a fromsystem href="/produkte">Produkte </a><i class="breadicon icon-arrow-right"></i><a fromsystem href="/produkte" toscroll="ohnewaerme"> Ungedämte Systeme</a> <i class="breadicon icon-arrow-right"></i> System FGL</p>
                </div></div>
            </div>
            <ul class="systeme_sub">
                    <li><a class="change_direction" fromsystem href="/downloads" download="FGL">Downloads</a></li>
                    <li><a href="img/systems/fgl/gallery/fgl_gallery_1.jpg" data-lightbox="example-set">Bilder</a></li>

                    
                    <a style="display:none" class="gallery" href="img/systems/fgl/gallery/fgl_gallery_2.jpg" data-lightbox="example-set" data-title="">
                    <a style="display:none" class="gallery" href="img/systems/fgl/gallery/fgl_gallery_3.jpg" data-lightbox="example-set" data-title="">
                    <a style="display:none" class="gallery" href="img/systems/fgl/gallery/fgl_gallery_4.jpg" data-lightbox="example-set" data-title="">

                    <li><a class="change_direction" fromsystem href="/fensterberechnung/FGL">Kalkulator</a></li>
            </ul>

            <div class="row table_row">
                <h1 class="productpage_shortDescription">Eckdaten zum Fenster</h1>

                <div class="table" style="width:100%;height:100%;">
                    <table >
                        <tr>
                            <td>Fieger Lamellenfenster System FGL, Stranggepresste Aluminiumprofile-ungedämmt</td>
                            <td>Verglasung mit ESG Glas in geschuppter Ausführung 8 mm, 10 mm oder als Stufenglas mit 12 mm VSG aus 2 x 6 mm ESG</td>
                            <td>Als NRWG geprüft und zertifiziert nach DIN EN 12101-2 (System FGL SmoTec)</td>
                        </tr>
                        <tr>
                            <td>Edelstahl Glashalter, wahlweise Punktgehalten oder Linienförmig</td>
                            <td>Lamellen mittig gelagert, außermittige Lagerung nach Absprache möglich (außer FGL SmoTec)</td>
                            <td>Bautiefe: Rahmen 70 mm</td>
                        </tr>
                        <tr>
                            <td>Ansichtsbreite Rahmen: horizontal 17 mm, vertikal 37 mm</td>
                            <td>Elementbreite bis 1600 mm ohne mittige Teilung, bei größeren Breiten geteilt mit System-Mittelpfosten.</td>
                            <td>Lamellenhöhe variabel von 175 bis 325 mm.</td>
                        </tr>
                        <tr>
                            <td>fehlende Punkte</td>
                            <td>fehlende Punkte</td>
                            <td>fehlende Punkte</td>
                        </tr>
                        <tr>
                            <td>fehlende Punkte</td>
                            <td>fehlende Punkte</td>
                            <td>fehlende Punkte</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row stdContent">
                <div class="large-12 column">
                    <div class="productpage_shortDescription">Edle Optik vom Feinsten</div>

                    <div class="large-6 medium-12 small-12 columns">
                        <p>Fieger Lamellenfenster Typ FGL , unser elegantes und attraktives Fenstersystem. Transparenter und funktioneller kann ein Lüftungsfenster nicht sein, denn die Lamellen bestehen nur aus Glas. Mit unserer bewährten und patentierten Mechanik aus unserem System Typ FLW und einer Vielzahl von Antrieben bietet das Lamellenfenster ganz neue und vielseitige Einsatzmöglichkeiten. Besonders für moderne Zweite- Haut- Fassaden aber auch für den Innenbereich hat das Lamellenfenster Typ FGL ein besonderes optisches Erscheinungsbild und bietet ein Höchstmaß an Komfort. Wir setzen Ihre gewünschte Lüftungskonzeption um, manuell oder automatisiert.</p>
                        <p>Unter dem Namen FGL SmoTec haben wir das System nach DIN EN 12101-2 als natürliches Rauchwärme- Abzugsgerät (NRWG) geprüft und zertifiziert. Verglast wird das Lamellenfenster Typ FGL, je nach Anforderung, mit Monoglas aus Einscheibensicherheitsglas ESG, Verbundsicherheitsglas VSG und für hohe Beanspruchungsgruppen mit VSG aus 2 x ESG. Außerdem kann diese Variante mit einer Stufe ausgebildet werden, so dass die Verglasung außen homogen mit dem Rahmen abschließt.</p>
                        <p>Die Glaslamellen werden entweder seitlich mit punktförmigen Halterungen oder mit linienförmigen Halterungen eingesetzt. Für die Rahmen steht eine Vielzahl von Adaptern zur Verfügung, um die Elemente in Ihre Konstruktion zu integrieren. Wir fertigen nach Ihren Wünschen in verschiedenen Größen, Farben und Verglasungen als montagefertige Einsatzelemente.</p>
                    </div>
                    <div class="large-6 medium-12 small-12 columns ">
                        <img style="text-align: center;" alt="" src="img/systems/fgl/product1.jpg"/>
                    </div>

                </div>
            </div>