<div class="Stripe2 stick">
    <div class="row">
        <div style="float:right;">
            <img style="width: 150px;  margin-right: 35px; " alt="" src="img/systems/flw/flw_logo_darkblue.png"/>
        </div>  </div></div>
        <div class="productBoxShadow">
            <div class="row">
                <div class="large-12 column">
                    <p class="productpage_breadcrumb stick"><a fromsystem href="/produkte">Produkte </a><i class="breadicon icon-arrow-right"></i><a fromsystem href="/produkte" toscroll="mitwaerme"> Wärmegedämmte Systeme</a> <i class="breadicon icon-arrow-right"></i> System FLW</p>
                </div></div>
            </div>
            <ul class="systeme_sub">
                    <li><a class="change_direction" fromsystem href="/downloads" download="FLW28">Downloads</a></li>
                    <li><a href="img/systems/flw/gallery/flw_gallery_1.jpg" data-lightbox="example-set">Bilder</a></li>

                    
                    <a style="display:none" class="gallery" href="img/systems/flw/gallery/flw_gallery_2.jpg" data-lightbox="example-set" data-title="">
                    <a style="display:none" class="gallery" href="img/systems/flw/gallery/flw_gallery_3.jpg" data-lightbox="example-set" data-title="">
                    <a style="display:none" class="gallery" href="img/systems/flw/gallery/flw_gallery_4.jpg" data-lightbox="example-set" data-title="">

                    <li><a class="change_direction" fromsystem href="/fensterberechnung/FLW28">Kalkulator</a></li>
               </ul>

               <div class="row table_row">
                <h1 class="productpage_shortDescription">Eckdaten zum Fenster</h1>

                <div class="table" style="width:100%;height:100%;">
                    <table >
                        <tr>
                            <td>Als NRWG geprüft und zertifiziert nach DIN EN 12101-2 (System FLW SmoTec)</td>
                            <td>Verglasung mit 2-fach-Isolierglas, Glasstärke 24 mm oder 28 mm</td>
                            <td>Trockenverglasung mit umlaufenden Glasgummidichtungen</td>
                        </tr>
                        <tr>
                            <td>Luftdurchlässigkeit nach EN 1026 Klassifizierung Klasse 4</td>
                            <td>Lamellen mittig gelagert, außermittige Lagerung nach Absprache möglich (außer FLW SmoTec)</td>
                            <td>Lamellen komplett umrahmt</td>
                        </tr>
                        <tr>
                            <td>Schlagregendichtheit nach EN 1027 Klassifizierung Klasse 4 A</td>
                            <td>Schalldämm-Maß nach DIN EN 20 140-03 Prüfwert Rw = 37 dB (mit Schallschutzverglasung 37 dB)</td>
                            <td>Wärmedurchgangskoeffizient Uw = 2,3 nach EN ISO 12567-1 (mit Wärmeschutzglas Ug = 1,1 und wärmegedämmten Randverbund)</td>
                        </tr>
                        <tr>
                            <td>Bautiefe: Rahmen 65 mm</td>
                            <td>Ansichtsbreite Lamellen: 20 mm</td>
                            <td>Fehlt ein Punkt</td>
                        </tr>
                        <tr>
                            <td>Elementbreite bis 2000 mm ohne mittige Teilung, bei größeren Breiten geteilt mit System-Mittelpfosten.</td>
                            <td>Lamellenhöhe variabel von 175 bis 325 mm.</td>
                            <td>Ansichtsbreite Rahmen: horizontal 20 mm, vertikal 40 mm</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row stdContent">
                <div class="large-12 column">
                    <div class="productpage_shortDescription">Der Klassiker</div>

                    <div class="large-6 medium-12 small-12 columns">
                        <p>Das Fieger Lamellenfenster TYP FLW ist unser meist verkauftes System und etabliert sich immer mehr als Marke für ein außergewöhnliches wärmegedämmtes Lüftungsfenster und das auch weit über die Grenzen Deutschlands hinaus. Unsere patentierte Mechanik mit einer Vielzahl von möglichen Antriebsvarianten sorgt dabei für ein Höchstmaß an Komfort. Gerademal 54 mm Hub reichen pro Antrieb aus, um 3 m² Fensterfläche zu öffnen. Die Lamellen laufen mit dem integrierten Zahnstangenantrieb leichtgängig und synchron und schließen als besonderes optisches Merkmal mit dem Fensterrahmen außen bündig ab, wodurch eine homogene Ansicht erreicht wird. Die Bauart der Fieger Lamellenfenster Typ FLW und der maximale Öffnungswinkel von 90° ergeben im Fensterbau einen außergewöhnlich hohen Lüftungsquerschnitt für optimale Be- und Entlüftung.</p>
                        <p>Um die Eigenschaften und die Qualität des Lamellenfensters Typ FLW zu bescheinigen, haben wir eine Vielzahl von Fremd- und Eigenprüfungen durchgeführt. Dabei wurden auch unter dem Namen FLW SmoTec die Prüfungen nach DIN EN 12101-2 als natürliches Rauchwärme- Abzugsgerät (NRWG) durchgeführt und zertifiziert. Verglast werden die Elemente mit 24 oder 28 mm dickem Isolierglas in verschiedenen Aufbaukombinationen. Außerdem steht eine Vielzahl von Adapterprofilen zur Verfügung, um die Elemente in Ihre Konstruktion zu integrieren. Es gilt: Überall, wo eine Glasscheibe eingesetzt wird, passt auch unser Lamellenfenster. Dabei fertigen wir nach Ihren Wünschen in verschiedenen Größen, Farben und Verglasungen als montagefertige Einsatzelemente.</p>
                    </div>
                    <div class="large-6 medium-12 small-12 columns ">
                        <img style="text-align: center;" alt="" src="img/systems/flw/product1.jpg"/>
                    </div>


                </div>
                <div class="large-12 medium-12 small-12 columns ">

                </div>
            </div>