<div class="Stripe2 stick">
    <div class="row">
        <div style="float:right;">
            <img style="width: 150px;  margin-right: 35px; " alt="" src="img/systems/flw40/flw40_logo_darkblue.png"/>
        </div>  </div></div>
        <div class="productBoxShadow">
            <div class="row">
                <div class="large-12 column">
                    <p class="productpage_breadcrumb stick"><a fromsystem href="/produkte">Produkte </a><i class="breadicon icon-arrow-right"></i><a fromsystem href="/produkte" toscroll="mitwaerme"> Wärmegedämmte Systeme</a> <i class="breadicon icon-arrow-right"></i> System FLW40</p>
                    <div style="margin-left: 18px; margin-right: 18px;">
                    </div>
                </div></div>
            </div>
            <ul class="systeme_sub">
                <li><a class="change_direction" fromsystem href="/downloads" download="FLW40">Downloads</a></li>
                <li><a href="img/systems/flw40/gallery/flw40_gallery_1.jpg" data-lightbox="example-set">Bilder</a></li>
                <a style="display:none" class="gallery" href="img/systems/flw40/gallery/flw40_gallery_2.jpg" data-lightbox="example-set" data-title="">
                <a style="display:none" class="gallery" href="img/systems/flw40/gallery/flw40_gallery_3.jpg" data-lightbox="example-set" data-title="">
                <a style="display:none" class="gallery" href="img/systems/flw40/gallery/flw40_gallery_4.jpg" data-lightbox="example-set" data-title="">
                <li><a class="change_direction" fromsystem href="/fensterberechnung/FLW40">Kalkulator</a></li>
            </ul>
            <div class="row table_row">
                <h1 class="productpage_shortDescription">Eckdaten zum Fenster</h1>

                <div class="table" style="width:100%;height:100%;">
                    <table >
                        <tr>
                            <td>Als NRWG geprüft und zertifiziert nach DIN EN 12101-2 (System FLW SmoTec)</td>
                            <td>Bautiefe: Rahmen 85 mm</td>
                            <td>Trockenverglasung mit umlaufenden Glasgummidichtungen</td>
                        </tr>
                        <tr>
                            <td>Luftdurchlässigkeit nach EN 1026 Klassifizierung Klasse 4</td>
                            <td>Ansichtsbreite Rahmen: 40 mm</td>
                            <td>Lamellen komplett umrahmt </td>
                        </tr>
                        <tr>
                            <td>Schlagregendichtheit nach EN 1027 Klassifizierung Klasse 8 A</td>
                            <td>Ansichtsbreite Lamellen: 28 mm</td>
                            <td>Lamellen mittig gelagert</td>
                        </tr>
                        <tr>
                            <td>Schalldämm-Maß nach DIN EN 20 140-03 Prüfwert Rw = 41 dB (mit Schallschutzverglasung 41 dB)</td>
                            <td>Elementbreite bis 2500 mm ohne mittige Teilung.</td>
                            <td>Verglasung mit 3-fach-Isolierglas, Glasstärke 40 mm</td>
                        </tr>
                        <tr>
                            <td>Wärmedurchgangskoeffizient je nach Ausführung bis zu 0,9 W/m²K</td>
                            <td>Lamellenhöhe variabel von 250 bis 500 mm.</td>
                            <td>Verglasung mit Aluminium Paneele 40 mm</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row stdContent">
                <div class="large-12 column">
                    <h1 class="productpage_shortDescription">Der neue Maßstab</h1>
                    <div class="large-6 medium-12 small-12 columns">
                        <p>Das Fieger Lamellenfenster TYP FLW ist unser neuestes Produkt und setzt völlig neue Maßstäbe im Lüftungsbereich. Aufbauend auf unser System FLW bietet ihnen dieser Fenstertyp weitere innovative Produkteigenschaften. So wurde bei der Entwicklung besonderer Wert auf die Wärmedämmeigenschaften und die Stabilität des Lamellenfensters gelegt und das zu einem günstigen Preis.</p>
                        <p>Einen besonderen Einsatzzweck wird dieses Produkt im Bereich der Schulen, Universitäten und in öffentlichen Gebäuden finden um dort Ihre gewünschten Anforderungen an die Wärmedämmung, die Sicherheit der Bauteile und den Komfort durch Automatisierung umzusetzen. Gerade in Bildungsstätten wird das Lamellenfenster Typ FLW 40 besondere Lüftungskonzeptionen umsetzen kann, um zu hohe Co² Belastung zu vermeiden. Planen Sie die Elemente bis zu einer Breite von 2500 mm mit variablen Klappenhöhen zwischen 250 und 500 mm Höhe. Bei größeren Breiten werden die Elemente gekoppelt.</p>
                        <p>Ab einer Elementhöhe von 3 m wird ein zusätzlicher Antrieb benötigt. Hohe Elemente können gekoppelt werden, somit ist die Elementhöhe im Prinzip unbeschränkt. Die Eigenschaften (Lüftungsquerschnitte, Wärmedämmwerte usw.) können über unsere Fensterberechnung ermittelt werden.
                        Außerdem stehen Ihnen eine Vielzahl von Antriebs-, Verglasungs- und Einbauvarianten zur Verfügung.</p>
                    </div>
                    <div class="large-6 medium-12 small-12 columns ">
                        <img style="text-align: center;" alt="" src="img/systems/flw40/product1.jpg" />
                    </div>
                </div>
            </div>
            <!-- <div class="row stdContent">
                                    <div class="large-12 column">
                                                <div id="flw40_accent" class="productpage_shortDescription">Verglasung</div>
                                                <div class="large-6 medium-12 small-12 columns ">
                                                            <img style="text-align: center;" alt="" src="img/systems/flw40/product2.jpg" />
                                                </div>
                                                <div class="large-6 medium-12 small-12 columns">
                                                            <p>Die Verglasung der Lamellenfenster muss zur Verglasung der restlichen Fassade passen und nicht umgekehrt. Dies gilt besonders bei farbigen Sonnenschutzgläsern. Deswegen passen wir uns bei der Bestellung der Lamellenfenster Ihrer Verglasung an und verwenden Glas desselben Herstellers.
                                                                        Sollte uns das nicht möglich sein, können Sie uns das Glas für den Auftrag zur Verfügung stellen oder wir nehmen Kontakt zu Ihrem Lieferanten auf. Der Glasaufbau, besonders die Glasdicke, ist auf unsere Systeme abgestimmt. Das heißt, wir können aus technischen Gründen nur bestimmte Glasdicken verarbeiten und verwenden daher u.U. eine geringere Glasdicke als die Verglasung Ihrer restlichen Fassade. </p>
                                                            <p><i class="breadicon icon-arrow-right"></i> Typ FLW 24 wird mit 24 mm dickem Isolierglas verglast, in der Regel mit Isolierglas aus 2 x Float 4 mm mit 16 mm SZR.</p>
                                                            <p><i class="breadicon icon-arrow-right"></i> Typ FLW 28 wird mit 28 mm dickem Isolierglas verglast, in der Regel aus 2 x Float 6 mm mit 16 mm SZR. Außerdem sind alle Kombinationsmöglichkeiten im Aufbau der Verglasung bis 28 mm möglich.</p>
                                                            <p><i class="breadicon icon-arrow-right"></i> Typ FLW 40 wird mit 40 mm dickem Dreifachisolierglas verglast. In der Regel mit dem Aufbau 6 mm Float / 12 mm SZR / 4 mm Float / 12 mm SZR / 6 mm Float.</p>
                                                </div>
                                    </div>
            </div> -->