<div class="compare_wrapper">

    <div class="compare_menu">
        <ul>
            <li>
                <p>FLW40</p>
                <img src="img/produkte/flw40.jpg">
            </li>
            <li>
                <p>FLW40V</p>
                <img src="img/produkte/flw40.jpg">
            </li>
            <li>
                <p>FLW28</p>
                <img src="img/produkte/flw.jpg">
            </li>
            <li>
                <p>FLW24</p>
                <img src="img/produkte/flw.jpg">
            </li>
            <li>
                <p>FGL LG</p>
                <img src="img/produkte/fgl.jpg">
            </li>
            <li>
                <p>FGL PG</p>
                <img src="img/produkte/fgl.jpg">
            </li>
            <li>
                <p>FLL</p>
                <img src="img/produkte/fll.jpg">
            </li>

            <img src="img/produkte/fgl.jpg">
        </ul>
    </div>


    <div class="comparelist">
        <!-- FLW40 -->
        <div class="compare_item">
            <div class="heading">
                <img src="img/produkte/flw40.jpg">
                <h2>FLW40</h2>
                <a href="img/systems/flw40/gallery/flw40_gallery_1.jpg" data-lightbox="example-set">Bilder</a>
                <a fromsystem href="/downloads" download="FLW40">Downloads</a>
                <a fromsystem="" href="/fensterberechnung/FLW40">Kalkulator</a>
        </div>
        <div class="daemung">
            <p>gedämmt</p>
        </div>
        <div class="issmotec">
            <p>NRGW SmoTec</p>
        </div>
        <div class="glas">
            <p>40mm 3-fach Isolierglas<br>&nbsp;</p>
        </div>
        <div class="glasart">
            <p>umlaufende Glasumfassung</p>
        </div>
        <div class="buendig">
            <p>Lamellen außenbündig<br>&nbsp;</p>
        </div>
        <div class="technik">
            <p>verdecktliegende Zahnstangenmechanik</p>
        </div>


        <div class="comparepadding"></div>

        <div class="technik_">
            <p>Als NRWG geprüft und zertifiziert nach DIN EN 12101-2 (System FLW SmoTec)</p>    
        </div>

        <div class="technik_">
            <p>Luftdurchlässigkeit nach EN 1026 Klassifizierung Klasse 4</p>
        </div>

        <div class="technik_">
            <p>Schlagregendichtheit nach EN 1027 Klassifizierung Klasse 8 A</p>
        </div>

        <div class="technik_">
            <p>Schalldämm-Maß nach DIN EN 20 140-03 Prüfwert Rw = 41 dB (mit Schallschutzverglasung 41 dB)</p>
        </div>

        <div class="technik_">
            <p>Wärmedurchgangs-<br>koeffizient je nach Ausführung bis zu 0,9 W/m²K</p>
        </div>

        <div class="technik_">
            <p>Bautiefe: Rahmen 85 mm </p>
        </div> 
        <div class="technik_">
            <p>Ansichtsbreite Rahmen: 40 mm   </p>
        </div> 
        <div class="technik_">
            <p>Ansichtsbreite Lamellen: 28 mm </p>
        </div> 
        <div class="technik_">
            <p>Elementbreite bis 2500 mm ohne mittige Teilung.</p>
        </div> 
        <div class="technik_">
            <p>Lamellenhöhe variabel von 250 bis 500 mm.  </p>
        </div> 


        <div class="technik_">
            <p>Trockenverglasung mit umlaufenden Glasgummidichtungen</p>
        </div>
        <div class="technik_">
            <p>Lamellen komplett umrahmt</p>
        </div>
        <div class="technik_">
            <p>Lamellen mittig gelagert</p>
        </div>
        <div class="technik_">
            <p>Verglasung mit 3-fach-Isolierglas, Glasstärke 40 mm</p>
        </div>
        <div class="technik_">
            <p>Verglasung mit Aluminium Paneele 40 mm</p>
        </div>

    </div>
    <!-- FLW40V -->
    <div class="compare_item new" neu="NEU!">
        <div class="heading">
            <img src="img/produkte/flw40.jpg">
            <h2>FLW40V</h2>
            <a href="img/systems/flw40/gallery/flw40_gallery_1.jpg" data-lightbox="example-set">Bilder</a>
            <a fromsystem href="/downloads" download="FLW40">Downloads</a>
            <a fromsystem="" href="/fensterberechnung/FLW40">Kalkulator</a>
        </div>
        <div class="daemung">
            <p>gedämmt</p>
        </div>
        <div class="issmotec">
            <p>in Prüfung</p>
        </div>
        <div class="glas">
            <p>40mm 3-fach Isolierglas<br>&nbsp;</p>
        </div>
        <div class="glasart">
            <p>nur raumseitig sichtbare Glasleisten</p>
        </div>
        <div class="buendig">
            <p>Lamellen außenbündig<br>&nbsp;</p>
        </div>
        <div class="technik">
            <p>verdecktliegende Zahnstangenmechanik</p>
        </div>
    </div>
    <!-- FLW28 -->
    <div class="compare_item">
        <div class="heading">
            <img src="img/produkte/flw.jpg">
            <h2>FLW28</h2>
            <a href="img/systems/flw40/gallery/flw40_gallery_1.jpg" data-lightbox="example-set">Bilder</a>
            <a fromsystem href="/downloads" download="FLW40">Downloads</a>
            <a fromsystem="" href="/fensterberechnung/FLW40">Kalkulator</a>
        </div>
        <div class="daemung">
            <p>gedämmt</p>
        </div>
        <div class="issmotec">
            <p>NRGW SmoTec</p>
        </div>
        <div class="glas">
            <p>28mm 2-fach Isolierglas<br>&nbsp;</p>
        </div>
        <div class="glasart">
            <p>Gläser umlaufend gerahmt</p>
        </div>
        <div class="buendig">
            <p>Lamellen außenbündig<br>&nbsp;</p>
        </div>
        <div class="technik">
            <p>verdecktliegende Zahnstangenmechanik</p>
        </div>
    </div>
    <div class="compare_item">
        <div class="heading">
            <img src="img/produkte/flw.jpg">
            <h2>FLW24</h2>
            <a href="img/systems/flw40/gallery/flw40_gallery_1.jpg" data-lightbox="example-set">Bilder</a>
            <a fromsystem href="/downloads" download="FLW40">Downloads</a>
            <a fromsystem="" href="/fensterberechnung/FLW40">Kalkulator</a>
            <!-- <a href="#">Bilder</a>
                            <a href="#">Downloads</a>
            <a href="#">Kalkulator</a> -->
        </div>
        <div class="daemung">
            <p>gedämmt</p>
        </div>
        <div class="issmotec">
            <p>NRGW SmoTec</p>
        </div>
        <div class="glas">
            <p>24mm 2-fach Isolierglas<br>&nbsp;</p>
        </div>
        <div class="glasart">
            <p>Gläser umlaufend gerahmt</p>
        </div>
        <div class="buendig">
            <p>Lamellen außenbündig<br>&nbsp;</p>
        </div>
        <div class="technik">
            <p>verdecktliegende Zahnstangenmechanik</p>
        </div>
    </div>
    <!-- FGL LG -->
    <div class="compare_item">
        <div class="heading">
            <img src="img/produkte/fgl.jpg">
            <h2>FGL LG</h2>
            <a href="img/systems/flw40/gallery/flw40_gallery_1.jpg" data-lightbox="example-set">Bilder</a>
            <a fromsystem href="/downloads" download="FLW40">Downloads</a>
            <a fromsystem="" href="/fensterberechnung/FLW40">Kalkulator</a>
        </div>
        <div class="daemung">
            <p>ungedämmt</p>
        </div>
        <div class="issmotec">
            <p>NRGW SmoTec</p>
        </div>
        <div class="glas">
            <p>Einscheiben ESG oder VSG</p>
        </div>
        <div class="glasart">
            <p>Gläser nur seitliche gerahmt</p>
        </div>
        <div class="buendig">
            <p>geschuppt oder außenbündig</p>
        </div>
        <div class="technik">
            <p>verdecktliegende Zahnstangenmechanik</p>
        </div>
    </div>
    <div class="compare_item">
        <div class="heading">
            <img src="img/produkte/fgl.jpg">
            <h2>FGL PG</h2>
            <a href="img/systems/flw40/gallery/flw40_gallery_1.jpg" data-lightbox="example-set">Bilder</a>
            <a fromsystem href="/downloads" download="FLW40">Downloads</a>
            <a fromsystem="" href="/fensterberechnung/FLW40">Kalkulator</a>
        </div>
        <div class="daemung">
            <p>ungedämmt</p>
        </div>
        <div class="issmotec">
            <p>NRGW SmoTec</p>
        </div>
        <div class="glas">
            <p>Einscheiben ESG oder VSG</p>
        </div>
        <div class="glasart">
            <p>Gläser ungerahmt Punktgehalten</p>
        </div>
        <div class="buendig">
            <p>geschuppt oder außenbündig</p>
        </div>
        <div class="technik">
            <p>verdecktliegende Zahnstangenmechanik</p>
        </div>
    </div>
    <!-- FLL -->
    <div class="compare_item new" neu="NEU!">
        <div class="heading">
            <img src="img/produkte/fll.jpg">
            <h2>FLL</h2>
            <a href="img/systems/flw40/gallery/flw40_gallery_1.jpg" data-lightbox="example-set">Bilder</a>
            <a fromsystem href="/downloads" download="FLW40">Downloads</a>
            <a fromsystem="" href="/fensterberechnung/FLW40">Kalkulator</a>
        </div>
        <div class="daemung">
            <p>gedämmt</p>
        </div>
        <div class="issmotec">
            <p>in Prüfung</p>
        </div>
        <div class="glas">
            <p>Verbundprofil<br>&nbsp;</p>
        </div>
        <div class="glasart">
            <p>Alu-Lamellen<br>&nbsp;</p>
        </div>
        <div class="buendig">
            <p>Lamellen außenbündig<br>&nbsp;</p>
        </div>
        <div class="technik">
            <p>verdecktliegende Zahnstangenmechanik</p>
        </div>
    </div>
</div>
</div>