<div class="row sonderbau">
    <h1><strong>FDS</strong> - <strong>F</strong>ieger <strong>D</strong>esign und <strong>S</strong>onderbau</h1>
    <article>
   		<p>FDS– Fieger Design und Sonderbau bezeichnet die eigene Entwicklungsabteilung innerhalb der Firma Fieger, welche Ihnen für Ihre Ideen und
   		Spezialanwendungen zur Verfügung steht.</p>
   		<p>Spezialausführungen bzw. Sonderbauelemente sind unter anderem alles das, was sich nicht mit unseren Standardsystemen realisieren lässt und im weitesten Sinne mit Lamellen zu tun hat.</p>
   		<p>Unsere Schwerpunkte liegen in den Bereichen:</p>
   		<ul>
   		    <li>- Entwicklung von beweglichen Lamellen aus Aluminium und / oder Glas mit projektbezogenen Profilierungen.</li>
   		    <li>- Beschreibung, Entwicklung, Musterbau und Prüfung neuen Einsatzbereiche für bewegliche und starren Lamellen.</li>
   		    <li>- Entwicklung neuer Antriebstechniken, Steuerungsmöglichkeiten und Sensortechnik in Verbindung mit Lüftungslamellen.</li>
   		</ul>
   		<p>Bitte kontaktieren Sie uns einfach mit Ihren Vorstellungen. Dann können wir Ihnen kurzfristig mitteilen, wie wir Ihnen bei der Realisierung behilflich sein können, welchem ungefähren Zeitraum wir benötigen und Ihnen dann bereits eine erste Kostenschätzung abgeben.</p>
   		<p>Ansprechpartner sind Herr Thomas Fieger und Herr Matthias Ficht</p>
    </article>
    <div class="columns large-3">
    	<a ng-click="" href="" href_="img/systems/sonderbau/big/1.jpg" class="fancybox" data-fancybox-group="gallery1"><img src="img/systems/sonderbau/small/1.jpg"></a>
    </div>
    <div class="columns large-3">
    	<a ng-click="" href="" href_="img/systems/sonderbau/big/2.jpg" class="fancybox" data-fancybox-group="gallery1"><img src="img/systems/sonderbau/small/2.jpg"></a>
    </div>
    <div class="columns large-3">
    	<a ng-click="" href="" href_="img/systems/sonderbau/big/3.jpg" class="fancybox" data-fancybox-group="gallery1"><img src="img/systems/sonderbau/small/3.jpg"></a>
    </div>
    <div class="columns large-3">
    	<a ng-click="" href="" href_="img/systems/sonderbau/big/4.jpg" class="fancybox" data-fancybox-group="gallery1"><img src="img/systems/sonderbau/small/4.jpg"></a>
    </div>
</div>