<div class="row" style="margin: 20px auto 75px auto;">
    <section>
        <h1 class="productpage_shortDescription">Einbauprofile</h1>
        <div class="large-12 medium-12 small-12 columns ">
            <p>
            Wir haben für jede Einbausituation die passende Lösung.
            Für Pfosten-Riegel und Fensterkonstruktionen haben wir konfigurierbare Adapterrahmen, die fertig montiert geliefert werden. Bei unserem neuen System FLW40 ist der Adapterrahmen gleich am Fenster integriert.</p>
            <p>
            Die Lamellenfenster können dann wie eine Glasscheibe in die Konstruktion eingesetzt werden.
            Des weiteren können unsere Fenster auch in Holzständerwänden, Mauerwerk, Profilitverglasungen und Paneelfassaden eingesetzt werden.<br>
            Unsere Adapterrahmen finden sie im <a href="#">Downloadbereich</a>.
            </p>
        </div>
    </section>
    <hr style="border-top: dashed 1px;" />
    <section>
        <h1 class="productpage_shortDescription">Antriebe</h1>
        <div class="large-12 medium-12 small-12 columns ">
            <p>Für die Fieger Lamellenfenster steht Ihnen eine Vielzahl von Antrieben zur Verfügung.
            Die Lamellenfenster können manuell, elektrisch oder pneumatisch betrieben werden. Die auf unser System abgestimmten Antriebe erhalten wir von namhaften deutschen Herstellern und werden fertig montiert und geprüft geliefert.</p>
            <p>
            Unsere patentierte Zahnstangenmechanik garantiert eine langlebige und sichere Funktion, sowie einen angenehm leisen und leichten Lauf der Lamellenflügel. Mit nur einem Antrieb können bis zu 3 m² Fensterfläche geöffnet werden!
            Alle Antriebsvarianten finden sie im <a href="#">Downloadbereich</a>.</p>
        </div>
    </section>
    <hr style="border-top: dashed 1px;" />
    <section>
        <h1 class="productpage_shortDescription">Schaltkontakt</h1>
        <div class="large-12 medium-12 small-12 columns">
            <p>Für die Positionsangabe der Lamellen können unsere Lamellenfenster mit dem neu entwickelten Fieger-Schaltkontakt ausgestattet werden. Es können die Meldungen „Fenster 100% auf“ und „Fenster 100% zu“ über potentialfreie Kontakte abgerufen werden.
            Weitere Informationen finden sie in unserem <a href="#">Downloadbereich</a>.
            </p>
        </div>
    </section>
    <hr style="border-top: dashed 1px;" />
    <section>
        <h1 class="productpage_shortDescription">Querstreben</h1>
        <div class="large-12 medium-12 small-12 columns ">
            <p>Als zusätzliche Einbruchsicherung und/oder Absturzsicherung können wir unsere Lamellenfenster mit innenliegenden Edelstahl-Querstreben ausstatten. Die Querstreben sind im geschlossenen Zustand von außen nicht sichtbar im seitlichen Rahmen verschraubt und können mit einer Sicherheitsüberwachung ausgestattet werden. Bei Ein oder Ausbruch erfolgt Alarmauslösung!
            Weitere Informationen finden sie in unserem <a href="#">Downloadbereich</a>.</p>
        </div>
    </section>
    <hr style="border-top: dashed 1px;" />
    <section>
        <h1 class="productpage_shortDescription">Steuerungstechnik</h1>
        <div class="large-12 medium-12 small-12 columns ">
            <p>Noch mehr Komfort und Effektivität lassen sich durch zusätzliche elektronische Steuerungen erzielen.
            Für objektbezogene Lösungen arbeiten wir mit führenden Herstellern von Rauch- und Wärmeabzugssystemen zusammen.</p>
            <p>Falls keine bauseitigen Komponenten vorhanden sind, liefern wir ihnen auf Wunsch:</p>
            <p>
            - RWA Zentralen <br>
            - Lüftungssteuerungen <br>
            - Rauchmelder <br>
            - Taster <br>
            - Wind- und Regenwächter <br>
            </p>
        </div>
    </section>
    <hr style="border-top: dashed 1px;" />
    <section>
        <h1 class="productpage_shortDescription">Montagehilfe</h1>
        <div class="large-12 medium-12 small-12 columns ">
            <p>Zum Schutz der fertigen Elemente werden diese in stabile Holzkisten verpackt und per Spedition zu Ihnen ins Werk oder auf die Baustelle termingerecht geliefert. Zur einfacheren Montage der Elemente können wir diese mit anschraubbaren Kranhaken ausrüsten, die Elemente können dann mit dem Kran direkt aus der Transportkiste an die vorgesehene Einbauposition gezogen und eingesetzt werden.</p>
        </div>
    </section>
</div>