@charset "utf-8";

a{
    color: #222;
}


.breadicon {
  font-size: 14px;
  vertical-align: middle;
}

div[land] {
  display: none;
}

div[land].active {
  display: block;
}

div[land] h1 {
  margin-bottom: 30px;
}

.notavailable{
  text-decoration:line-through !important;
}

.notavailable:hover{
  cursor: default !important;
}

.icon_type4 {
  font-size: 40px;
  color: #999;
}

body {
  -webkit-font-smoothing: subpixel-antialiased;
}

.margin_{
    margin-bottom: 40px;
}

*,
a,
body,
button,
h1,
h2,
h4,
h5,
li,
p {
  font-family: 'Open Sans' !important;
}

h1 {
  font-size: 25px;
}

h2 {
  text-align: left;
  font-size: 17px;
  margin: 25px 0 20px;
}

.innercolumn2 h2:first-child{
  margin-top: 0 !important;
}

h4 {
  font-size: 16px;
  text-align: left;
  margin: 25px 0 20px;
  color: #373737;
}

h5 {
  font-size: 14px;
  text-align: left;
  margin: 25px 0 20px;
}

.video_animation {
  width: 550px;
  margin: 0 auto;
}

.video_animation input,
.video_animation video {
  width: 100%;
}

.video_animation video {
  margin-top: 50px;
}

.video_animation input {
  margin-top: 30px;
}

.video_input_wrapper{
  width: 50%;
  margin:0 auto 40px auto;
}

.video_animation video {
  border: 1px solid #ccc;
}

.innercolumn2{
  
   -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
    -webkit-column-rule: 1px outset #ccc;
    -moz-column-rule: 1px outset #ccc;
    column-rule: 1px outset #ccc;
}

.system_under div{
  margin-top: 20px;
}

.system_under a,.innercolumn2 a{
  -webkit-transition: color .3s;
  -moz-transition: color .3s;
  -o-transition: color .3s;
  -ms-transition: color .3s;
  text-decoration: underline;
}

.innercolumn2 a:hover,
.system_under a:hover{
  color:#f70014;
}

.system_topics {
  overflow: hidden;
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
}

.system_topics .effect-ruby {
  width: 298px;
  height: 298px;
}

.system_topics .title_system {
  text-align: left;
  font-size: 13px!important;
}

.system_topics img {
  -webkit-transition: -webkit-transform .35s;
  transition: transform .35s;
  -webkit-transform: scale(1.12);
  transform: scale(1.12);
}

.system_topics .selectorClass {
  -webkit-transition: left .4s,opacity .3s;
  -moz-transition: left .4s,opacity .3s;
  -o-transition: left .4s,opacity .3s;
  -ms-transition: left .4s,opacity .3s;
  cursor: default;
  opacity: 0;
}

.referenzen figure {
  width: 230px !important;
  height: 230px !important;
  background: transparent !important;
  margin: 10px;
  position: relative;
  float: left;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  -webkit-transition: all 0.3;
  -moz-transition: all 0.3;
  -o-transition: all 0.3;
  -ms-transition: all 0.3;
}

.referenzen figure p{
  position: absolute;
  z-index: 10000;
  bottom: 0;
  left: 0;
  background: rgba(255,255,255,0.8);
  width: 100%;
  color: #000;
  padding: 2px 0;
  font-size: 14px;
  margin: 0;
}

.referenzen figure figcaption{
  display: none;
}

.referenzen figure:hover {
  opacity: .95;
}

.referenzen figure:hover p{
  background: rgba(255,255,255,1);
}

.referenzen figure:hover img{
  transform: scale(1)
}

.fancybox img,
.referenzen img {
  width: 100%;
  height: 100%;
  border-radius: 2px;
  border: 1px solid #ccc;
  transform: scale(1.15);
  -webkit-transition: opacity .35s,transform .35s;
  -moz-transition: opacity .35s,transform .35s;
  -o-transition: opacity .35s,transform .35s;
  transition: opacity .35s,transform .35s;
}

.spezialfancy_wrapper {
  margin: 60px 0;
}

.selectorClass {
  -webkit-transition: opacity .6s;
  -moz-transition: opacity .6s;
  -o-transition: opacity .6s;
  -ms-transition: opacity .6s;
  cursor: pointer;
}

.selectorClass:hover {
  opacity: .95;
}

/*ZUBEHOER UND SERVICE*/

.system_under{
  margin: 50px auto 75px auto;
}

.system_under section,
.system_under h1{
  float: left;
  clear: both;
}

.system_under h4{
  font-weight: bolder
}

.system_under h2{
  margin-top: 10px;
}

.system_under section{
  margin-bottom: 40px;
}

.region_choose {
  position: absolute;
  margin: 30px;
  z-index: 99;
  background: rgba(255,255,255,.8);
  border-radius: 4px;
  border: 1px solid rgba(238,238,238,.6);
  border-bottom-width: 2px;
  display: none;
}

.region_choose ul {
  margin: 0;
  padding: 10px 0;
}

.region_choose li {
  list-style: none;
  padding: 10px 30px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -ms-transition: all .3s;
}

.region_choose li.active,
.region_choose li:hover {
  color: #f70014;
  cursor: pointer;
}

.Stripe2 {
  background-color: #445263;
  background-size: 100%;
  -webkit-box-shadow: 1px 0 1px 1px rgba(48,48,48,.4);
  -moz-box-shadow: 1px 0 1px 1px rgba(48,48,48,.4);
  box-shadow: 1px 0 1px 1px rgba(48,48,48,.4);
}

.Stripe2.stick {
  background: rgba(68,82,99,.95);
  position: absolute;
  width: 100%;
}

.Stripe2.stick img {
  opacity: .95;
}

.productpage_breadcrumb.stick {
  margin-top: 100px;
}

.systeme_sub {
  width: 405px;
  margin: 50px auto;
  height: 90px;
}

.systeme_sub li {
  width: 135px;
  float: left;
  padding: 30px 20px;
  border-right: 1px solid #ccc;
}

.systeme_sub li:last-child {
  border-right: 0;
}

.systeme_sub li a {
  color: #222;
  font-size: 18px;
  font-weight: 100;
  text-align: center;
  width: 100%;
  float: left;
  -webkit-transition: color .3s;
  -moz-transition: color .3s;
  -o-transition: color .3s;
  -ms-transition: color .3s;
}

.systeme_sub li a.active,
.systeme_sub li a:hover {
  color: #f70014;
}

.resetfilter {
  font-size: 16px;
  border: none;
  background-color: #CCC;
  color: #fff;
  cursor: pointer;
  border-radius: 2px;
  margin-top: 20px;
}

.downloadTopBar {
  background-color: rgba(250,250,250,.95);
  -webkit-box-shadow: 1px 0 1px 1px rgba(48,48,48,.3);
  -moz-box-shadow: 1px 0 1px 1px rgba(48,48,48,.3);
  box-shadow: 1px 0 1px 1px rgba(48,48,48,.3);
  z-index: 0;
  position: absolute;
  width: 100%;
}

.select_filter {
  width: 100%;
  float: left;
  padding-left: 1%;
}

.select_filter div{
  float: left !important
}

.select_filter select {
  height: 30px;
  font-size: 14px;
  float: left;
  margin-right: 20px;
  border: 0!important;
  border-radius: 2px;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 200px;
  text-indent: .01px;
  text-overflow: "";
  color: #353535;
  padding: 5px 5px 5px 10px;
  box-shadow: inset 0 0 3px rgba(000,000,000,.4);
}

.select_filter select:active,
.select_filter select:focus {
  outline: 0;
}

.select_filter select:hover {
  cursor: pointer;
}

.main {
  float: left;
  width: 100%;
  margin-top: 150px;
}

.noitemdownload {
  padding: 0 25%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -ms-transition: all .3s;
}

.noitemdownload a,
.noitemdownload p {
  font-size: 22px;
}

.noitemdownload p {
  text-align: center;
}

.resetfilter:active {
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.2) inset!important;
  box-shadow: 0 1px 0 rgba(0,0,0,.2) inset!important;
}

.resetfilter:focus {
  outline: 0;
}

#conDetailBox {
  font-size: 13px;
}

#conDetailBox {
  margin-top: 10px;
}

.conBox {
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px 20px;
  min-height: 485px;
  float: left!important;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  opacity: 0;
}

.conBox p {
  font-size: 8px;
}

.conBox a,
.conBox p {
  text-align: center!important;
  width: 100%!important;
  float: left!important;
}

.conBox h4 {
  text-align: center;
  margin: 25px 0;
}

.conPho {
  text-align: left;
}

.conPho img {
  border: 1px solid #e4e4e4;
  border-bottom-width: 2px;
  padding: 4px;
  border-radius: 2px;
  background-color: #fff;
  display: block;
  margin: 0 auto;
}

#sysprevHeader {
  margin: 35px 0;
}

.sysprev {
  margin: 15px 0;
}

.stdContent {
  width: 100%;
}

.stdContent p {
  font-size: 14px;
  text-align: left;
  margin: 0 0 5px;
}

.stdContent a {
  font-size: 14px;
  text-align: left;
  color: #202020;
}

.productpage_breadcrumb {
  font-size: 14px;
  margin: 30px 0 0 15px;
  text-align: center;
  color: #333;
}

.productpage_breadcrumb a {
  color: #333;
}

.productpage_shortDescription {
  -webkit-text-stroke: rgba(255,255,255,.01) .1px;
  -webkit-text-stroke-width: .1px;
}

.productpage_shortDescription {
  font-weight: 300;
  text-align: left;
}

.productpage_shortDescription {
  font-size: 24px;
  margin: 20px 0 20px 15px;
  color: #000;
}

.sitemap_Description {
  -webkit-text-stroke: rgba(255,255,255,.01) .1px;
  -webkit-text-stroke-width: .1px;
  font-weight: 300;
  text-align: left;
  font-size: 22px;
  margin: 20px 0;
  color: #999;
}

.sitemap_wrapper {
  -webkit-columns: 3 200px;
  -moz-columns: 3 200px;
  columns: 3 200px;
  -webkit-column-gap: 4em;
  -moz-column-gap: 4em;
  column-gap: 4em;
}

.sitemap_wrapper p {
  font-size: 24px;
  float: left;
  clear: both;
  margin: 10px 0;
}

.sitemap_wrapper a {
  font-size: 14px;
  float: left;
  margin: 10px 0;
  clear: both;
}

.stdContent .column {
  margin: 35px 0;
  padding: 30px;
}

.faq_not_found {
  display: none;
}

.faq_not_found h1 {
  font-size: 30px;
  color: #ccc;
  font-weight: 400;
  text-align: center;
}

.agb,
.faq {
  margin-top: 40px;
  padding: 0 20px;
}

.faq h1 {
  font-weight: 300;
  margin-bottom: 20px;
  font-size: 24px;
}

.faq a,
.faq p {
  color: #555;
  font-size: 14px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.faq li {
  padding: 0 15px;
}

.faq .inner_info {
  padding: 15px 30px;
  display: none;
}

.faq a:hover {
  color: #f70014;
}

.faq input {
  width: 100%;
  border: 2px solid #ccc;
  color: #555;
  font-size: 18px;
  line-height: 22px;
  padding: 10px 15px;
  margin-bottom: 25px;
  border-radius: 2px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.faq input:focus {
  border-color: #f70014;
  outline: 0;
}

.partner_content {
  width: 100%;
  float: left;
  margin-top: 50px;
}

.partner_wrapper {
  float: left;
  width: 23%;
  margin: 1%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 2px;
  background: rgba(204,204,204,.1);
}

.partner_content div a,
.partner_content div p {
  color: #555;
  line-height: 20px;
  margin-bottom: 0;
  font-size: 13px;
  text-align: center;
  width: 100%;
  float: left;
}

.partner_img_wrapper {
  width: 100%;
  float: left;
}

.partner_content div img {
  position: relative;
  left: 50%;
  margin-left: -25px;
  margin-bottom: 20px;
}

.grid figure_news figcaption: :after,
.grid figure_news figcaption: :before {
  pointer-events: none;
}

figure_news.effect-chico figcaption: :before {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  border: 1px solid #fff;
  content: '';
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

figure_news.effect-chico figcaption: :before {
  opacity: 0;
  -webkit-transition: opacity .35s,-webkit-transform .35s;
  transition: opacity .35s,transform .35s;
}

figure_news.effect-chico:hover figcaption: :before {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.grid {
  overflow: hidden;
  margin: 0;
  padding: 3em 0 0;
  width: 100%;
  list-style: none;
  text-align: center;
}

.grid .columns{
  float: left !important;
}

.grid figure {
  position: relative;
  z-index: 1;
  display: inline-block;
  overflow: hidden;
  margin: 1%;
  width: 47%;
  height: 400px;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
  -webkit-transition: opacity .5s;
  -moz-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s;
}

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  opacity: .8;
}

.grid figure figcaption {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption: :after,
.grid figure figcaption: :before {
  pointer-events: none;
}

.grid figure figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.grid figure a {
  color: #555;
}

.grid figure h4 {
  text-align: center;
  font-size: 22px;
  font-weight: 100;
  background-color: rgba(238,238,238,.8);
}

.grid figure h4 span {
  font-size: 18px;
  word-spacing: -.15em;
  font-weight: 800;
}

.grid figure h4 {
  margin: 0;
}

figure.effect-ruby {
  background-color: #c3c3c3;
}

figure.effect-ruby img {
  opacity: .7;
  -webkit-transition: opacity .35s,-webkit-transform .35s;
  transition: opacity .35s,transform .35s;
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}

figure.effect-ruby:hover img {
  opacity: .5;
  -webkit-transform: scale(1);
  transform: scale(1);
}

figure.effect-ruby h4 {
  margin-top: 119px;
/*  -webkit-transition: -webkit-transform .35s;
  transition: transform .35s;
  -webkit-transform: translate3d(0,20px,0);
  transform: translate3d(0,20px,0);*/
}

figure.effect-ruby:hover h4 {
/*  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);*/
}

figure.effect-chico figcaption::before {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  border: 1px solid #fff;
  content: '';
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

figure.effect-chico figcaption: :before {
  opacity: 0;
  -webkit-transition: opacity .35s,-webkit-transform .35s;
  transition: opacity .35s,transform .35s;
}

figure.effect-chico:hover figcaption: :before {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.fensterberechnung {
  width: 700px;
  margin: 0 auto;
}

.fensterberechnung form {
  width: 50%;
  margin: 0 auto;
  position: relative;
  padding: 0 20px;
  opacity: 1;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.fensterberechnung form.left {
  float: left;
}

.fensterberechnung input,
.print input[type=text],
.print input[type=email],
.print input[type=tel] {
  width: 100%;
  float: left;
  -webkit-appearance: none;
  border: none;
  border-bottom: 2px solid #ccc;
  font-size: 18px;
  padding-bottom: 5px;
  font-weight: 300;
  -webkit-transition: border-color .3s;
  transition: border-color .3s;
}

@keyframes bcolor {
  0% {
    border-color: #ccc;
  }

  50% {
    border-color: #f70014;
  }

  100% {
    border-color: #ccc;
  }
}

@-moz-keyframes bcolor {
  0% {
    border-color: #ccc;
  }

  50% {
    border-color: #f70014;
  }

  100% {
    border-color: #ccc;
  }
}

@-webkit-keyframes bcolor {
  0% {
    border-color: #ccc;
  }

  50% {
    border-color: #f70014;
  }

  100% {
    border-color: #ccc;
  }
}

@-ms-keyframes bcolor {
  0% {
    border-color: #ccc;
  }

  50% {
    border-color: #f70014;
  }

  100% {
    border-color: #ccc;
  }
}

@-o-keyframes bcolor {
  0% {
    border-color: #ccc;
  }

  100% {
    border-color: #f70014;
  }
}

.fensterberechnung .half_cut {
  width: 50%!important;
  float: left!important;
}

.fensterberechnung h1 {
  font-size: 22px;
  margin-bottom: 0;
  margin-top: 0;
  float: left;
  line-height: 22px;
  width: 100%;
  font-weight: 300;
}

.fensterberechnung input:focus,
.print input:focus,
.print textarea:focus {
  outline: 0;
  border-color: #999;
}

.print label {
  margin: 20px 0 3px;
  display: block;
  float: left;
  font-size: 14px;
  clear: both;
}

.print_inner_wrapper {
  width: 100%;
  padding-left: 30px;
  float: left;
  clear: both;
  margin-bottom: 50px;
}

.print h2 {
  float: left;
  width: 100%;
}

.fake_print {
  float: left;
  clear: both;
  display: block;
  margin-bottom: 0;
}

.print {
  margin-top: 50px;
}

.print h1 {
  text-align: center;
}

.print form {
  width: 500px;
  margin: 0 auto;
}

.print textarea {
  height: 100px;
  float: left;
  width: 100%;
  border: 2px solid #ccc;
  margin-top: 10px;
  resize: none;
}

.fensterberechnung .jvFloat {
  float: left;
  width: 100%;
}

.fensterberechnung select,
.print select {
  -webkit-appearance: inherit;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 10px 10px 10px 0;
  font-size: 16px;
  font-weight: 400;
  float: left;
  background: #fff;
  border-radius: 0;
}

.fensterberechnung select:focus,
.print select:focus {
  outline: 0;
}

.mittelpf {
  position: relative;
  float: right;
  margin-top: -25px;
}

.choose_calc_lang a: nth-child(2) {
  padding-left: 10px;
}

.choose_calc_lang a: nth-child(3) {
  float: right;
}

.jvFloat {
  position: relative;
  display: inline;
  margin-top: 26px;
}

.jvFloat .placeHolder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #666;
  font-size: 14px;
  -webkit-transform: translate(0,0);
  -moz-transform: translate(0,0);
  -o-transform: translate(0,0);
  -ms-transform: translate(0,0);
  transform: translate(0,0);
  -webkit-transition: -webkit-transform 150ms,opacity 100ms,visibility 100ms;
  transition: transform 150ms,opacity 100ms,visibility 100ms;
  opacity: 0;
  visibility: hidden;
}

.jvFloat .placeHolder.active {
  display: block;
  visibility: visible;
  -webkit-transform: translate(0,-16px);
  -moz-transform: translate(0,-16px);
  -o-transform: translate(0,-16px);
  -ms-transform: translate(0,-16px);
  transform: translate(0,-16px);
  -webkit-transition: -webkit-transform 100ms,opacity 120ms,visibility 120ms;
  transition: transform 100ms,opacity 120ms,visibility 120ms;
  opacity: 1;
}

.table_row {
  margin: 70px auto 30px;
}

.table_row h1 {
  margin-bottom: 40px;
}

.table {
  margin: 0;
  padding: 0;
  width: 100%;
}

.table table {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.table td {
  padding: 20px 30px;
  font-size: 14px;
  color: #000;
  text-align: center;
  vertical-align: middle;
  line-height: 20px;
  width: 33.33333%;
}

table {
  border-collapse: collapse;
}

table td {
  border: 1px solid #ccc;
}

table tr:first-child td {
  border-top: 0;
}

table tr:nth-child(even) td {
  background: #fafafa;
}

table tr:last-child td {
  border-bottom: 0;
}

table tr td:first-child {
  border-left: 0;
}

table tr td:last-child {
  border-right: 0;
}

table td {
  border-bottom-color: transparent;
}

.home_big {
  background: url(../img/start/blur/8.jpg) 50% 0;
  background-size: cover;
  width: 100%;
  position: relative;
  box-shadow: inset 0 15px 15px -15px #000;
}

.home_big h1,
.home_big h2,
.img_window,
button.simple {
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.img_window {
  width: 100%;
  height: 100%;
  background-size: contain !important;
  opacity: 0;
  margin-left: -170px;
  margin-top: 30px;
  position: absolute;
}

.img_window.bg_1{
  background: url(../img/start/fenster/flw40.png) bottom right no-repeat;
}

.img_window.bg_2{
  background: url(../img/start/fenster/flw28.png) bottom right no-repeat; 
}

.img_window.bg_3{
  background: url(../img/start/fenster/fgl.png) bottom right no-repeat; 
}




.margewrapper {
  display: block;
  float: right;
  /*width: 100%*/
}

.home_big h1,
.home_big h2 {
  background: rgba(0,0,0,.6);
  color: #e0e0e0;
  display: inline-block;
  float: right;
  clear: both;
  padding: 7px 10px;
  border-radius: 2px;
  margin: 0;
  text-align: right;
}

.home_big h1 {
  font-size: 45px;
  margin-bottom: 20px;
}

.home_big h2 {
  font-size: 30px;
  margin-bottom: 40px;
}

button.simple {
  float: left;
  clear: both;
  font-weight: 700;
  background: #eee;
  border: 0;
  padding: 15px 10px;
  font-size: 16px;
  border-radius: 2px;
}

button.simple:hover {
  cursor: pointer;
  background: #ccc;
}

.home_big .simple:focus {
  outline: 0;
}

.home_big .simple {
  background: rgba(255,255,255,.8);
  float: right;
}

.home_big .simple:hover {
  background: rgba(255,255,255,1);
}

.margewrapper .simple,
.margewrapper h1,
.margewrapper h2 {
  margin-left: 30px;
  opacity: 0;
}

.compare_menu {
  position: fixed;
  top: 66px;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 34;
  border-bottom: 1px solid rgba(238,238,238,.6);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  height: 43px;
  overflow: hidden;
  -webkit-box-shadow: 1px 0 1px 1px rgba(48,48,48,.3);
  -moz-box-shadow: 1px 0 1px 1px rgba(48,48,48,.3);
  box-shadow: 1px 0 1px 1px rgba(48,48,48,.3);
}

.compare_menu img {
  height: 170px;
  display: block;
  margin: 0 auto;
}

.compare_menu:hover {
  height: 250px;
}

.compare_menu ul {
  width: 1180px;
  margin: 0 auto;
}

.compare_menu ul li {
  float: left;
  width: 196.6px;
  border-right: 1px solid #e8e8e8;
  text-align: center;
  font-size: 20px;
  padding: 5px 0;
  height: 250px;
}

.compare_wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.comparelist {
  width: 100%;
  float: left;
  margin-top: 80px;
  margin-bottom: 100px;
}

.compare_item {
  width: 16.6666%;
  float: left;
  border-right: 1px solid #e8e8e8;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  opacity: 0;
}

.compare_item.new:before {
  content: attr(neu);
  position: absolute;
  color: #f70014;
  font-size: 16px;
  font-weight: bolder;
  width: 196.6px;
  text-align: center;
  margin-top: -28px;
}

.compare_item:last-child {
  border-right: 0;
}

.compare_item h2 {
  margin: 0;
  text-align: center;
  font-weight: 200;
  font-size: 27px;
}

.compare_item a {
  font-size: 12px;
  color: #333;
  display: block;
  text-align: center;
  text-decoration: underline;
  margin: 15px 0 0;
}

.compare_item p {
  font-size: 12px;
  color: #333;
  text-align: center;
  margin-bottom: 0;
  line-height: 20px;
  padding: 0px 18px;
  width: 100%;
}

.compare_item .heading {
  padding-bottom: 30px;
  border-bottom: 1px solid #e8e8e8;
  min-height: 379px;
}

.compare_item .heading img {
  height: 200px;
  display: block;
  margin: 0 auto 30px;
}

.buendig,
.daemung,
.glas,
.glasart,
.issmotec,
.technik,
.technik_,
.technik__ {
  padding: 20px 0 20px;
}

.comparepadding {
  padding: 30px 0;
}

.technik_ {
  background: #fbfbfb;
}


.glas{
    height: 110px !important;
    line-height: 70px !important;
    border-bottom: 1px solid #e8e8e8;
}

.glas p,
.technik_ p,
.technik__ p{
  display: inline-block;
  vertical-align: middle;
  line-height: 14px;
}

.technik_{
  border-bottom: 1px solid #e8e8e8;
}

.technik_,
.technik__{
  height: 120px !important;
  line-height: 80px !important;
  border-bottom: 1px solid #e8e8e8;
}

/*SONDERBAU*/

.sonderbau {
  margin: 30px auto 75px;
}

.sonderbau h1 {
  text-align: center;
  float: left;
  width: 100%;
}

.sonderbau h2{
  margin-top: 0;
}

.sonderbau article {
  margin-top: 50px;
  width: 100%;
  float: left;
}

.sonderbau li {
  margin-left: 30px;
}



/*MOBILE REDIRECT*/

.mobile{
  width: 300px;
  margin: 30px auto;
}

.mobile .logo{
  margin: 0 auto 50px auto;
  float: inherit;
}

.mobile p{
  text-align: center;
}

.mobile p{
  font-size: 18px;
}



@-moz-document url-prefix() { 
  footer{
    display: block !important;
  }

  .info_wrapper{
    width: 100%;
    overflow: initial;
    margin-top: -27px;
    padding: 30px 0;
  }

  .info_wrapper .close_reader{
    top:40px
  }

  .system_topics{
    overflow: inherit !important;
  }

  .check_{
    margin-left: 80px;
  }

  .ip{
    margin-left: 70px;
  }
}

